/* For "about.html" */
.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    grid-gap: 1rem;
}
.grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}