/* For "about.html" */
.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    grid-gap: 1rem;
}
.grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fadein {
    -webkit-animation: fadein 1.5s linear 1 normal forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s linear 1 normal forwards; /* Firefox < 16 */
        -ms-animation: fadein 1.5s linear 1 normal forwards; /* Internet Explorer */
         -o-animation: fadein 1.5s linear 1 normal forwards; /* Opera < 12.1 */
            animation: fadein 1.5s linear 1 normal forwards;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

.motto {
    padding-top: 10%;
    padding-bottom: 10%;
    
    text-align: center;
    
	color: rgba(0,0,11,1);
	font: 400 36px 'Source Sans Pro', sans-serif;
}