/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600;700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


/* Default Template */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #E8EBF3;
}
div {
    height: auto; /*if more info comes on the page, it will stretch down*/
    width: auto;
    margin: 0 auto; /*this will cause the div to be in the center*/
}

.headLogo {
    width: 160px;
    height: 166px;
}
.contentText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: center;
    color: rgb(0,0,0);
}
.contentText2 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    text-align: center;
    color: rgb(0,0,0);
}